window.MYNCER_CONFIG = {
  VITE_SPOTIFY_CLIENT_ID: "${VITE_SPOTIFY_CLIENT_ID}",
  VITE_SPOTIFY_REDIRECT_URI: "${VITE_SPOTIFY_REDIRECT_URI}",
  VITE_YOUTUBE_CLIENT_ID: "${VITE_YOUTUBE_CLIENT_ID}",
  VITE_YOUTUBE_REDIRECT_URI: "${VITE_YOUTUBE_REDIRECT_URI}"
};
